// Resets, Clearfix, etc
@import 'partials/_reset.scss';
@import 'partials/_clearfix.scss';

// Variables
 $dark-color : #1a1a1a;
 $light-color : white;
 $bright-color : orange;
 $padding-size : 20px;

// Media Query Ranges 

@media screen and (min-width: 0px) {
    .block_family {
      li {
        width: 300px;
        margin: auto;
        background-color: $dark-color;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
    body {
        background-color: $bright-color;
    }
    h1 {
      color: $dark-color;
    }
    h2 {
      font-size: 35px;
      color: $light-color;
    }
}
 
@media screen and (min-width: 600px) {
    .block_family {
      li {
        width: 220px;
        margin: auto;
        background-color: $light-color;
        display: inline-block; 
        margin-bottom: 10px;
        margin-right: 5px;
      }
    }
    ul {
      max-width: 600px;
    }
    body {
        background-color: $bright-color;
    }
    h1 {
      color: $light-color;
    }
    h2 {
      font-size: 35px;
      color: $bright-color;
    }
}

@media screen and (min-width: 900px) {
    .block_family {
      li {
        margin: auto;
        background-color: $bright-color;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 5px;
      }
    }
    ul {
      max-width: 900px;
    }

    body {
        background-color: $dark-color;
    }
    h1 {
      color: $bright-color;
    }
    h2 {
      font-size: 35px;
      color: $dark-color;
    }
}

// Mixins

@mixin block_font($block_font_size, $block_font_color){
  font-size: $block_font_size;
  color: $block_font_color;
}

// Styles
body{
  text-align: center;
  color: #EEE;
}
 
h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
 
h1{
  font-size: 55px;
  padding: 20px;
}
 
h2{

}

 
.block_family{
  margin:auto;
}
 
.block_family li{
  padding: 20px;
}